body{
    background-color: purple;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.jumbotron{
    height: 20vh;
}

#contador{
    height: 90%;
}

.contenedor{
  
}
.boton{
   

   
    background-color: orange;

}

